{% extends "app_common/base_site.html" %}

{% block title %}贫困户数据信息{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/report_form/policydataform/policy.css"/>
{% endblock %}

{% block right_content %}
    <div class="page-header">
        <h3 class="breadcrumb" style="background-color:inherit;margin-bottom:0">
            <li>综合管理</li>
            <li class="active">政策列表</li>
        </h3>
    </div>

    <div class="up">
        政策列表信息
    </div>

    <div class="middle">
        <div class="query_part">查询条件</div>
        <div class="show_part">
            <form role="form">
                <div class="div01">
                    <p class="department_tag">落&nbsp;实&nbsp;部&nbsp;门：</p>
                    <div class="department_part">
                        <select id="department_select">
                            <option value="请选择">请选择</option>
                            {% for d in department_name %}
                                <option value="{{ d }}">{{ d }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="div02">
                    <button type="button" class="btn btn-default btn-sm" onclick="commit_form()">点击查询</button>
                </div>
            </form>
        </div>
    </div>

    <div class="down" id="down_show">
        <div class="list_part">
            <p class="p01">政策列表</p>
        </div>
        {% if policystaticform_list %}
            <div class="specific_part">
                {% for p in policystaticform_list %}
                    <div class="panel info_part">
                        <div class="panel-heading heading_part">
                            <span class="glyphicon glyphicon-menu-down down_span" onclick="collapse_up(this)"></span>
                            <span class="glyphicon glyphicon-menu-right right_span" onclick="collapse_down(this)"></span>
                            <span class="policy_span">政策名称：{{ p.policy_name }}</span>
                            <span class="department_span">落实部门：{{ p.implement_department }}</span>
                            <span class="object_span">针对{{ p.policy_object }}</span>
                        </div>
                        <div class="panel-body collapse">
                            <div class="first_layer">
                                <p>补助标准：{{ p.policy_subsidy }}</p>
                            </div>
                            <div class="second_layer">
                                <p>补助上限：{{ p.subsidy_limit }}</p>
                            </div>
                            <div class="third_layer">
                                <p>限制条件：{{ p.limit_condition }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="nodata_part">暂无数据</div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        //政策列表展示之折叠面板
        function collapse_up(self) {
            $(self).hide();
            $(self).next().show();
            $(self).parents(".panel").find(".panel-body").collapse('hide');
        }

        //政策列表展示之展开面板
        function collapse_down(self) {
            $(self).hide();
            $(self).prev().show();
            $(self).parents(".panel").find(".panel-body").collapse('show');
        }

        //查询功能
        function commit_form(){
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            DEPARTMENT=$("#department_select").val();

            $.ajax({
                type: 'post',
                datatype:'json',
                url: '/report_form/policy_template_query/',
                data: {
                    "department":DEPARTMENT
                },
                success: function(data) {
                    $("#down_show").html(data);
                    layer.closeAll();
                }
            })
        }
    </script>
{% endblock %}