{% extends "app_common/base_site.html" %}
{% block title %}短信通知{% endblock %}
{% block css %}

    <style>

    </style>
{% endblock %}
{% block right_content %}
<div class="page-header">
    <h3 class="breadcrumb" style="background-color: inherit;margin-bottom: 0;">
        <li>综合管理</li>
        <li class="active">短信通知</li>
    </h3>
</div>
<div class="col-xs-12">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#inform-people" data-toggle="tab">通知个人</a>
        </li>
        <li><a href="#inform-department" data-toggle="tab">通知部门</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="inform-people">
            <form role="form" class="layui-form" action="" style="margin-top: 20px;">
                <div class="form-group">
                    <label for="">手机号</label>
                    <input type="tel" name="mobile" lay-verify="required|phone" autocomplete="off" class="layui-input">
                </div>
                <div class="form-group">
                    <label for="">通知内容</label>
                    <textarea class="layui-textarea" name="content" lay-verify="required"></textarea>
                </div>
                <div class="form-group">
                <label for=""></label>
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="form1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="inform-department">
            <form role="form" class="layui-form" action="" style="margin-top: 20px;">
                <div class="form-group">
                    <label for="">部门</label>
                    <select name="department_id" lay-verify="required">
                        <option value=""></option>
                        {% for department in department_list %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                    <label for="">通知内容</label>
                    <textarea class="layui-textarea" name="content" lay-verify="required"></textarea>
                </div>
                <div class="form-group">
                <label for=""></label>
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="form2">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>

layui.use(['form'], function(){
  var form = layui.form
  ,layer = layui.layer;

  //监听提交
  form.on('submit(form1)', function(data){
      var url = "{% url 'sms_inform_people' %}";
        $.post(url,data.field,function(res){
            if(res.code === "200"){
                layer.msg(res.message);

            }else{
                layer.msg(res.message);
            }
        });
  });
  //监听提交
  form.on('submit(form2)', function(data){
      var url = "{% url 'sms_inform_department' %}";
        $.post(url,data.field,function(res){
            if(res.code === "200"){
                layer.msg(res.message);
            }else{
                layer.msg(res.message);
            }
        });
  });


});
</script>
{% endblock %}