<div class="list_part">
    <p class="p01">贫困人口列表</p>
    {% if data_number %}
        <p class="p02">总计{{ data_number }}条数据</p>
    {% else %}
        <p class="p02">总计0条数据</p>
    {% endif %}
</div>
{% if poorpeopledata_list %}
    <div class="specific_part">
        {% for p in poorpeopledata_list %}
            <div class="panel info_part">
                <div class="panel-heading heading_part">
                    <span class="glyphicon glyphicon-menu-down down_span" onclick="collapse_up(this)"></span>
                    <span class="glyphicon glyphicon-menu-right right_span" onclick="collapse_down(this)"></span>
                    <span class="name_span">{{ p.people_name }}</span>
                    <span class="sex_span"> {{ p.sex }}</span>
                    <span class="age_span">{{ p.age }}岁</span>
                    <span class="health_span">健康状况为{{ p.health_situation }}</span>
                    <span class="village_span" onclick="convert_to_village('{{ p.now_village_identifier }}')">归属地：{{ p.town_name }}{{ p.now_village_name }}</span>
                    {% if '贫困人口数据_编辑' in CODENAMES %}
                        <span class="glyphicon glyphicon-edit layui_span" onclick="edit_data('man','{{ p.people_id }}')"></span>
                    {% endif %}
                </div>
                <div class="panel-body collapse">
                    <div class="first_layer">
                        <p>村编号：{{ p.now_village_identifier }}</p>
                        <p style="cursor:pointer;" onclick="convert_to_house('{{ p.house_identifier }}')">户编号：{{ p.house_identifier }}/{{ p.householder_name }}</p>
                        <p>个人编号：{{ p.people_identifier }}</p>
                    </div>
                    <div class="second_layer">
                        <p>个人身份证号：{{ p.people_id }}</p>
                        <p>与户主的关系：{{ p.people_relationship }}</p>
                        <p>家庭人口数：{{ p.family_number }}</p>
                    </div>
                    <div class="third_layer">
                        <p>民族：{{ p.people_nation }}</p>
                        <p>文化程度：{{ p.education_degree }}</p>
                        <p>在校生状况：{{ p.school_situation }}</p>
                    </div>
                    <div class="fourth_layer">
                        <p>劳动技能：{{ p.labor_ability }}</p>
                        <p>务工时间（月）：{{ p.work_time }}</p>
                        <p>是否参加大病医疗：{{ p.join_medical }}</p>
                    </div>
                    <div class="fifth_layer">
                        <p>脱贫属性：{{ p.offpoor_attribute }}</p>
                        <p>主要致贫原因：{{ p.poor_reason }}</p>
                        <p>首次识别时间：{{ p.first_identify }}</p>
                    </div>
                    <div class="sixth_layer">
                        <p>贫困户属性：{{ p.poorhouse_attribute }}</p>
                        <p>联系电话：{{ p.telephone }}</p>
                        <p>住址：{{ p.address }}</p>
                    </div>
                    <div class="seventh_layer">
                        <p>帮扶人员：{{ p.help_people }}</p>
                        <p>帮扶单位：{{ p.help_unit }}</p>
                        <p>帮扶方式：{{ p.help_way }}</p>
                    </div>
                    <div class="eighth_layer">
                        <p>帮扶人员电话号码：{{ p.help_phone }}</p>
                        <p style="cursor:pointer;font-weight:bold;text-decoration:underline;" onclick="convert_to_fourinone('{{ p.people_id }}')">健康四位一体</p>
                    </div>
                    <div class="nineth_layer">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>应享政策名称</td>
                                    <td>补助标准</td>
                                    <td>数量</td>
                                    <td>应享金额（元）</td>
                                    <td>实享金额（元）</td>
                                    <td>发放时间</td>
                                    <td>更多信息</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in p.additionaldata %}
                                <tr>
                                    <td class="td_1">
                                        <span class="td_1_span" onmouseover="showpolicy(this,'{{ item.0 }}')">{{ item.0 }}</span>
                                    </td>
                                    <td class="td_2">
                                        <span class="td_2_span" onmouseover="showstandard(this,'{{ item.1 }}')">{{ item.1 }}</span>
                                    </td>
                                    <td class="td_3">{{ item.2 }}</td>
                                    <td class="td_4">{{ item.3 }}</td>
                                    {% if item.6 == 'o' %}
                                        <td class="td_5" style="color:#FF9900;">{{ item.4 }}</td>
                                    {% else %}
                                        <td class="td_5">{{ item.4 }}</td>
                                    {% endif %}
                                    <td class="td_6">{{ item.5 }}</td>
                                    <td class="td_7">
                                        <span class="td_7_span" onmouseover="showmore(this,'{{ item.7 }}','{{ item.8 }}','{{ item.9 }}','{{ item.10 }}')">...</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="paging">
        <div class="paging_edit">
            <span onclick="convert_page_query({{ curpage }},{{ allpage }})">跳转</span>
            <input type="text" id="pages" name="pages">
        </div>
        <div class="paging_mark">
            {% ifnotequal curpage 1 %}    {# 如果当前页有上一页 #}
                <span onclick="last_page_query({{ curpage }},{{ allpage }},'pagelast')" class="glyphicon glyphicon-chevron-left"></span>
            {% endifnotequal %}
            <span>
                {{ curpage }}/{{ allpage }}    {# 当前页码/总页数 #}
            </span>
            {% ifnotequal curpage allpage %}    {# 如果当前页有下一页 #}
                <span onclick="next_page_query({{ curpage }},{{ allpage }},'pagenext')" class="glyphicon glyphicon-chevron-right"></span>
            {% endifnotequal %}
        </div>
    </div>
{% else %}
    <div class="nodata_part">暂无数据</div>
{% endif %}