{% extends "app_common/base_site.html" %}

{% block title %}帮扶人员数据信息{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/report_form/helperdataform/helperdataform.css"/>
{% endblock %}

{% block right_content %}
    <div class="page-header">
        <h3 class="breadcrumb" style="background-color:inherit;margin-bottom:0">
            <li>统计及报表</li>
            <li class="active">帮扶人员数据</li>
        </h3>
    </div>

    <div class="up">
        帮扶人员数据信息
    </div>

    <div class="middle">
        <div class="query_part">查询条件</div>
        <div class="show_part">
            <form role="form">
                <div class="div01">
                    <p class="town_tag">乡&nbsp;&nbsp;&nbsp;镇&nbsp;&nbsp;&nbsp;名&nbsp;&nbsp;&nbsp;称：</p>
                    <div class="town_part">
                        <select id="town_select">
                            <option value="请选择">请选择</option>
                            {% for t in town_name %}
                                <option value="{{ t }}">{{ t }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="definition_tag">行&nbsp;政&nbsp;村&nbsp;名&nbsp;称：</p>
                    <div class="definition_part">
                        <select id="definition_select">
                            <option value="请选择">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="div02">
                    <p class="householder_tag">贫困户户主姓名：</p>
                    <div class="form-group">
                        <label class="sr-only" for="householder">householder</label>
                        <input type="text"  id="householder" name="householder" class="form-control householder_input"/>
                    </div>
                    <p class="helper_tag">帮扶人员姓名：</p>
                    <div class="form-group">
                        <label class="sr-only" for="helper">helper</label>
                        <input type="text"  id="helper" name="helper" class="form-control helper_input"/>
                    </div>
                </div>
                <div class="div03">
                    <button type="button" class="btn btn-default btn-sm" onclick="commit_form()">点击查询</button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_show">显示全部</button>
                </div>
            </form>
        </div>
    </div>

    <div class="down" id="down_show">
        <div class="list_part">
            {% if not people_number == 0 %}
            <p class="p01">
                帮扶人员列表(总计有{{ people_number }}个帮扶人员)
            </p>
            {% else %}
                帮扶人员列表
            {% endif %}

            {% if data_number %}
                <p class="p02">总计{{ data_number }}条数据</p>
            {% else %}
                <p class="p02">总计0条数据</p>
            {% endif %}
        </div>
        {% if helperdata_list %}
            <div class="specific_part">
                {% for h in helperdata_list %}
                    <div class="panel info_part">
                        <div class="panel-heading heading_part">
                            <span class="glyphicon glyphicon-menu-down down_span" onclick="collapse_up(this)"></span>
                            <span class="glyphicon glyphicon-menu-right right_span" onclick="collapse_down(this)"></span>
                            <span class="unit_span">帮扶单位：{{ h.unit_name }}</span>
                            <span class="helper_span">帮扶人员：{{ h.helper_name }}</span>
                            <span class="phone_span">帮扶人员手机号码：{{ h.mobile_phone }}</span>
                            <span class="poor_span">帮扶户数：{{ h.poor_home }}</span>
                            {% if '帮扶人员数据_编辑' in CODENAMES %}
                                <span class="glyphicon glyphicon-edit layui_span" onclick="edit_data('帮扶人手机号码','{{ h.mobile_phone }}')"></span>
                            {% endif %}
                        </div>
                        <div class="panel-body collapse">
                            <div class="first_layer">
                                <p>帮扶人员类别：{{ h.helper_type }}</p>
                                <p>帮扶人员性别：{{ h.helper_sex }}</p>
                                <p>帮扶人员职务：{{ h.helper_post }}</p>
                            </div>
                            <div class="second_layer">
                                <p>帮扶人员办公电话：{{ h.office_phone }}</p>
                                <p>贫困户户主姓名：{{ h.poor_name }}</p>
                                <p>贫困户户主所属组别：{{ h.poor_group }}</p>
                            </div>
                            <div class="third_layer">
                                <p>贫困户所属乡镇：{{ h.poor_town }}</p>
                                <p style="cursor:pointer;font-weight:bold;text-decoration:underline;" onclick="convert_to_village('{{ h.now_village_identifier }}')">贫困户所属行政村：{{ h.now_administrative_village }}</p>
                                <p>贫困户所属行政村编号：{{ h.now_village_identifier }}</p>
                            </div>
                            <div class="fourth_layer">
                                <p style="cursor:pointer;font-weight:bold;text-decoration:underline;" onclick="convert_to_house('{{ h.household_identifier }}')">贫困户身份证号：{{ h.household_identifier }}</p>
                                <p>帮扶人身份证号：{{ h.helper_id }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="paging">
                <div class="paging_edit">
                    <span onclick="convert_page({{ curpage }},{{ allpage }})">跳转</span>
                    <input type="text" id="pages" name="pages">
                </div>
                <div class="paging_mark">
                    {% ifnotequal curpage 1 %}    {# 如果当前页有上一页 #}
                        <span onclick="last_page({{ curpage }},{{ allpage }},'pagelast')" class="glyphicon glyphicon-chevron-left"></span>
                    {% endifnotequal %}
                    <span>
                        {{ curpage }}/{{ allpage }}    {# 当前页码/总页数 #}
                    </span>
                    {% ifnotequal curpage allpage %}    {# 如果当前页有下一页 #}
                        <span onclick="next_page({{ curpage }},{{ allpage }},'pagenext')" class="glyphicon glyphicon-chevron-right"></span>
                    {% endifnotequal %}
                </div>
            </div>
        {% else %}
            <div class="nodata_part">暂无数据</div>
        {% endif %}
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    由于数据量较大，显示全部数据需要等待较长时间，您确定要显示全部数据？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="show_data()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
    var TOWN,DEFINITION,HOUSEHOLDER,HELPER;

        //贫困户列表展示之折叠面板
        function collapse_up(self) {
            $(self).hide();
            $(self).next().show();
            $(self).parents(".panel").find(".panel-body").collapse('hide');
        }

        //贫困户列表展示之展开面板
        function collapse_down(self) {
            $(self).hide();
            $(self).prev().show();
            $(self).parents(".panel").find(".panel-body").collapse('show');
        }

        //编辑按钮链接跳转
        function edit_data(type,identifier){
            window.open('#');
        }

        //帮扶人员页面点击贫困户所属行政村跳转到贫困村页面
        function convert_to_village(now_village_identifier){
            window.open('/report_form/poorvillagedataform/?now_village_identifier='+now_village_identifier);
        }

        //帮扶人员页面点击贫困户身份证号跳转到贫困户页面
        function convert_to_house(household_identifier){
            window.open('/report_form/poorhousedataform/?household_identifier='+household_identifier);
        }

        //分页之跳转
        function convert_page(curpage,allpage) {
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            var gopage = $("#pages").val();
            var numreg=/^[0-9]+$/g;
            var nomregok=numreg.test(gopage);
            if(nomregok==''||nomregok==0||!nomregok){
                return false;
            }
            else {
                $.ajax({
                    type: 'post',
                    datatype: 'json',
                    url: '/report_form/helper_template_initial_paginator/',
                    data: {
                        'gopage':gopage,
                        'curpage':curpage,
                        'allpage':allpage
                    },
                    success: function (data) {
                        $("#down_show").html(data);
                        layer.closeAll();
                    }
                })
            }
        }

        //分页之上一页
        function last_page(curpage,allpage,pagetype) {
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            $.ajax({
                type:'post',
                datatype:'json',
                url:'/report_form/helper_template_initial_paginator/',
                data:{
                    'curpage':curpage,
                    'allpage':allpage,
                    'pagetype':pagetype
                },
                success: function (data) {
                    $("#down_show").html(data);
                    layer.closeAll();
                }
            })
        }

        //分页之下一页
        function next_page(curpage,allpage,pagetype) {
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            $.ajax({
                type:'post',
                datatype:'json',
                url:'/report_form/helper_template_initial_paginator/',
                data:{
                    'curpage':curpage,
                    'allpage':allpage,
                    'pagetype':pagetype
                },
                success: function (data) {
                    $("#down_show").html(data);
                    layer.closeAll();
                }
            })
        }

        //查询之关联下拉列表
        $(function() {
            $("#town_select").change(function () {
                $("#definition_select").empty().append('<option value="请选择">请选择</option>');
                var town = $("#town_select").val();
                $.ajax({
                    type:'post',
                    datatype:'json',
                    url:'/report_form/helper_town_change/',
                    data:{'town':town},
                    success: function (res){
                        for(var i=0,len=res.village_name.length;i<len;i++){
                            var select_html="<option value="+res.village_name[i]+">"+res.village_name[i]+"</option>";
                            $("#definition_select").append(select_html);
                        }
                    }
                })
            })
        });

        //查询功能
        function commit_form(){
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            TOWN=$("#town_select").val();
            DEFINITION=$("#definition_select").val();
            HOUSEHOLDER=$("#householder").val();
            HELPER=$("#helper").val();

            $.ajax({
                type: 'post',
                datatype:'json',
                url: '/report_form/helper_template_query_paginator/',
                data: {
                    "town":TOWN,
                    "definition":DEFINITION,
                    "householder":HOUSEHOLDER,
                    "helper":HELPER
                },
                success: function(data) {
                    $("#down_show").html(data);
                    layer.closeAll();
                }
            })
        }

        //分页之跳转（查询结果）
        function convert_page_query(curpage,allpage) {
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            var gopage = $("#pages").val();
            var numreg=/^[0-9]+$/g;
            var nomregok=numreg.test(gopage);
            if(nomregok==''||nomregok==0||!nomregok){
                return false;
            }
            else {
                $.ajax({
                    type: 'post',
                    datatype: 'json',
                    url: '/report_form/helper_template_query_paginator/',
                    data: {
                        'gopage':gopage,
                        'curpage':curpage,
                        'allpage':allpage,
                        "town": TOWN,
                        "definition": DEFINITION,
                        "householder": HOUSEHOLDER,
                        "helper": HELPER
                    },
                    success: function (data) {
                        $("#down_show").html(data);
                        layer.closeAll();
                    }
                })
            }
        }

        //分页之上一页（查询结果）
        function last_page_query(curpage,allpage,pagetype) {
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            $.ajax({
                type:'post',
                datatype:'json',
                url:'/report_form/helper_template_query_paginator/',
                data:{
                    'curpage':curpage,
                    'allpage':allpage,
                    'pagetype':pagetype,
                    "town":TOWN,
                    "definition":DEFINITION,
                    "householder":HOUSEHOLDER,
                    "helper":HELPER
                },
                success: function (data) {
                    $("#down_show").html(data);
                    layer.closeAll();
                }
            })
        }

        //分页之下一页（查询结果）
        function next_page_query(curpage,allpage,pagetype) {
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            $.ajax({
                type:'post',
                datatype:'json',
                url:'/report_form/helper_template_query_paginator/',
                data:{
                    'curpage':curpage,
                    'allpage':allpage,
                    'pagetype':pagetype,
                    "town":TOWN,
                    "definition":DEFINITION,
                    "householder":HOUSEHOLDER,
                    "helper":HELPER

                },
                success: function (data) {
                    $("#down_show").html(data);
                    layer.closeAll();
                }
            })
        }

        //显示所有按钮
        function show_data() {
            layui.use('layer', function() {
                var $ = layui.jquery, layer = layui.layer;

                layer.msg('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 86px;margin-top: 65px;"></i>', {
                    time: 30000, //30s后自动关闭
                    shade :0.1,
                    area: ['220px', '180px']
                });
            });

            window.location.href='/report_form/helperdataform/';
        }
    </script>
{% endblock %}